/******** STYLE SOM BARA GÄLLER MOBIL / TABLET ********/

@media (max-width: 900px) {
  /*HEADER, NAV*/
  .nav h2, .nav .nav-links { 
    font-size: 16px;
  }

  /* MAIN */
  main {
    display: flex;
    flex-direction: column;
  }

  .general-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    left: 0;

    padding: 12px;
    width: auto;
    height: auto;
  }

  .button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: pink;
    cursor: pointer;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-area-desktop {
    display: none;
  }

  .button.desktop {
    display: none;
  }

  .button.mobile-tablet {
    display: flex;
  }

  #casper {
    width: 30vh;
    height: auto;
  }

  .general-info p {
    padding: 5px;
    margin-left: 4px;
  }

  /* BUTTON, API, KATTBILDER */
  #image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }

  .cat-container {
    max-width: 80vh;
    max-height: 80vh;
    overflow: hidden;
    margin-top: -15px;
  }

  .catImage.active {
    width: 100% !important;
    height: auto;
  }

  #catImage {
    width: 100%; /*80vh*/
    height: auto;
  }

  /* FOOTER */
  footer {
    display: flex;
    font-size: 13px;
  }
}
