body {
    background-color: lightgreen;
}

.image-container {
    display: flex;
}

.api {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    width:150px;
    height:50px;
    border-radius: 15px;
    background-color: pink;
    cursor: pointer;
}

.catImage {
    display: none;
}

.catImage:active {
    display: block;
}