* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgreen;
    position: relative;
    min-height: 100vh;
}




/** HEADER **/
header {
    display: flex;
}

.nav {
    background-color: pink;
    top:0;
    left:0;
    width:100%;
    height:50px;
    margin-bottom:30px;
    padding:10px; /*selma, fixa och centrera detta*/
}

.nav h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center; /*selma fixa placering av titel*/

    margin-left:10px;
    cursor: pointer;
}

.nav .nav-links {
    gap:15px;
    margin-right: 10px;
    font-size: 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-link {
    cursor: pointer;
}




/* API, KNAPP, CASPER */
main {
    background-color: blue;
}

#image-container {
    display: flex;
}

.api {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    width:150px;
    height:50px;
    border-radius: 15px;
    background-color: pink;
    cursor: pointer;
    margin-bottom:50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-container {
    height: 80vh;
    background-color: lightblue;
    margin-bottom:100px;
}

#casper {
    display: block;
}

#casper.active {
    display: none;
}

.catImage {
    display: none;
}

.catImage.active {
    display: block;
}




/***** FOOTER ******/
footer {
    background-color: black;
    color:#fff;
    width:100%;
    height:70px;
    bottom:0;

    display: flex;
    justify-content: space-between;
    position: absolute;
}

footer .copy {
    margin-left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foot-links {
    margin-right:20px;
    cursor: pointer;
}




/** STYLE SOM BARA GÄLLER DESKTOP **/
@media (min-width:501px) {
    .catImage.active {
        width:700px;
        height:auto;
    }

    #casper {
        width:500px;
        height:auto;
    }
}